# Patterns to ignore when building packages.
# This supports shell glob patterns, relative path patterns, and negated patterns (starting with '!').
# Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.swo
*~
.#*
*#
.*.md.swp
*.sublime-project
*.sublime-workspace
.vscode/
.idea/
# Helm package
*.tgz
# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
# Editor settings
.vscode
.idea
*.iml
